:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
}

body {

    font-family:var(--main-font)
} 
/* COMPONENTS */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.logo>.web {
  color: #2196f3;
}
.secondary-header{
font-weight: 700;
font-size: 36px;
line-height: 1.667;
letter-spacing: 0.03em;
}
/* COMPONENTS */

/* HEADER */

.navigation-link {
     font-weight: 500;
     font-size: 14px;
     line-height: 1.142;
     letter-spacing: 0.02em;
     text-decoration: none;
     color:var(--main-color);
}

.navigation-link:hover,
.navigation-link:focus {
    color: #2196F3;
}


.contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;    
    text-decoration: none;
    color: #757575;
}

.contact-link:hover,
.contact-link:focus {
    color: #2196F3;
}

/* END HEADER */

/* HERO */

.main-header{
font-weight: 900;
font-size: 44px;
line-height: 1.363;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}

.modal-btn {
width: 200px;
height: 50px;

background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: #FFFFFF;
cursor: pointer;
}

.modal-btn:focus,
.modal-btn:hover{
  background:var(--secondary-color)
}

/* END HERO */


/* CONTENT  */

.item-title{
font-weight: 700;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.03em;
}

.item-description{
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: var(--secondary-color)
}
 /* END CONTENT */



 /* ABOUT US 

Styles added in components

 END ABOUT US */



 /* OUR TEAM */

.member-name {  
font-weight: 500;
font-size: 16px;
line-height: 1.188;
letter-spacing: 0.03em;
}

.member-position {
font-size: 16px;
line-height: 1.188;
letter-spacing: 0.03em;
color: var(--secondary-color)
}
 /* END OUR TEAM */


 /* FOOTER */

 .footer-logo{
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color:#FFFFFF;
  text-decoration: none;
}
.footer-logo>.web {
  color: #2196f3;
 }
 .footer-address {
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: #FFFFFF;
text-decoration: none;
 }

 .footer-contacts {
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
text-decoration: none;
 }

.footer-address:hover,
.footer-address:focus,
.footer-contacts:hover,
.footer-contacts:focus {
color: #2196F3;
}
 /* END FOOTER */









  /* PORTFOLIO PAGE*/


  /* FILTER */
  .filter-btn {
 width: 121px;
height: 38px;
background: #F5F4FA;
border-radius: 4px;

font-weight: 500;
font-size: 16px;
line-height: 1.625;
letter-spacing: 0.03em;
cursor: pointer
  }
  .filter-btn:focus,
  .filter-btn:hover {
background-color: #2196F3;
color: #FFFFFF;
border: 1px solid #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

 /* END FILTER */

/* PORTFOLIO */
.project-title{
font-weight: 700;
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
}

.project-area{
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
color: var(--secondary-color);
}
/* END PORTFOLIO */